$backgroundColor: #ee9c39;
$align: center;
$space: 10%;
$size: 2em;
$accentColor: #593920;

body{
 background-color: $backgroundColor;
 text-align: $align;
}

span {
 margin: $space;
 font-size: $size;
 text-decoration: none;
 color: $accentColor;
}

h4{
 color: $accentColor;
 font-size: $size * 3;
 font-family: cursive;
 margin: $space;
}

footer{
 margin-top: $space;
 color: $accentColor;
 font-size: $size;
}